@page "/simular"

<h3 class="bg-dark rounded-2 text-white">Simule seu Empréstimo agora</h3>
<h4 class="text-secondary">Com taxa de 2,84%</h4>

<label for="valor">Valor do Empréstimo (R$)</label>
<br />
<input @bind="valor" type="number" class="form-control" />
<br />

<label for="parcelas">Em quantas Parcelas?</label>
<br />
<input @bind="parcelas" type="number" class="form-control" />
<br />
<br />

<button @onclick="CalcularEmprestimo" class="btn-primary rounded-1" >Simular</button>
<br />
<br />
<label>O total a ser pago será R$<span>@total</span></label>
<br />
<br />
<label>Em <span>@parcelas</span> parcelas de R$<span>@valordasparcelas</span></label>
<br />

@code {
    private double valor { get; set; }
    private int parcelas { get; set; }
    private double total { get; set; }
    private double valordasparcelas { get; set; }

    private void CalcularEmprestimo()
    {
        total = Math.Round((valor + (valor * (parcelas * 0.0284))), 2);
        valordasparcelas = Math.Round(total / parcelas, 2);
    }
}
